version: 2.1
jobs:
  compile:
   docker:
      - image: archlinux:base-devel
   steps:
      - run:
          command: |
           pacman -Syu --needed --noconfirm wget base-devel xmlto inetutils bc cpio python-sphinx python-sphinx_rtd_theme graphviz imagemagick git python2 python zip xxd
           git clone https://efaiza5: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@github.com/efaiza5/venoom_surya.git -b 12-new-backup --depth 1 .
           git config --global user.name "efaiza5"
           git config --global user.email "efaiza5@gmail.com"
           git config --global color.ui false
           curl -fsSL "https://repo.archlinuxcn.org/x86_64/glibc-linux4-2.33-4-x86_64.pkg.tar.zst" | bsdtar -C / -xvf -
           bash builder.sh
workflows:
  version: 2.1
  cooking:
    jobs:
      - compile
